.bod::before {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	background: url('peter-background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: lightblue;
  }
#Header
{
	background: #000000;
	color: #fff;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 70px;
}

/* ------------------------------- HEADLINES ------------------------ */
.pictureHeadlines{
	font-family: fantasy;
	font-size: larger;
}
#AboutMeHeadline
{
	background: rgb(0, 83, 139);
	position: absolute;
	font-family: sans-serif;
	color: #fff;
	top: 100px;
	left: 0px;
	width: 100%;
	height: 30px;
}
#PhotosHeadline
{
	background: rgb(0, 83, 139);
	position: absolute;
	font-family: sans-serif;
	color: #fff;
	top: 400px;
	left: 0px;
	width: 100%;
	height: 30px;
}
#PlaylistHeadline
{
	background: rgb(0, 83, 139);
	position: absolute;
	font-family: sans-serif;
	color: #fff;
	top: 1580px;
	left: 0px;
	width: 100%;
	height: 30px;
}
#LikeHeadline
{
	background: rgb(0, 83, 139);
	position: absolute;
	font-family: sans-serif;
	color: #fff;
	top: 2150px;
	left: 0px;
	width: 100%;
	height: 30px;
}
#QRHeadline
{
	background: rgb(0, 83, 139);
	position: absolute;
	font-family: sans-serif;
	color: #fff;
	top: 2500px;
	left: 0px;
	width: 100%;
	height: 30px;
}
#QAHeadline
{
	background: rgb(0, 83, 139);
	position: absolute;
	font-family: sans-serif;
	color: #fff;
	top: 2930px;
	left: 0px;
	width: 100%;
	height: 30px;
}
/* .row {
	display: flex;
	flex-wrap: wrap;
	padding: 0px 140px;
  } */
  
  /* Create two equal columns that sits next to each other */
/* .column {
	flex: 50%;
	padding: 0 10px;
  }  */
  
.column img {
	margin-top: 8px;
	padding: 10px;
	vertical-align: middle;
  }
/* .Family {
	flex: auto;
	width: 25%;
	padding: 10px;
  }
.Friends
{
	flex: auto;
	top:350px;
	width: 25%;
	padding: 10px;
} */
/* ------------------------------- CONTENT AREAS ------------------------ */
#AboutMe
{
	position: absolute;
	font-weight: bold;
	color: rgb(0, 4, 255);
	top: 150px;
	left: 0px;
	width: 100%;
	height: 10px;
}
#MyPhotos
{
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 480px;
	left: 0px;
	padding: 0px;
	width: 100%;
	height: 500px;
}
#MyPlaylist
{
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 1560px;
	left: 70px;
	padding: 0px;
	width: 100%;
	height: 100px;
}
.qr_image
{
	display: flex;
	position: absolute;
	top: 2620px;
	left: 40.5%;
	padding: 0px;
}
.fb-like
{
	display: flex;
	position: absolute;
	top: 2260px;
	left: 40.5%;
	padding: 38px;
	border-style: dotted; 
	border-color: rgb(0, 25, 139); 	
	border-width: 10px; 
}
.buttons
{
	top: 20px;
	cursor: pointer;
	display: inline-block;
}
#ContactMe
{
	background: #000000;
	color: #fff;
	position: absolute;
	font-family: sans-serif;
	top: 3300;
	right: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
}

/* .buttons:link{

	font-weight:bold;
	background-color: white;
	cursor: pointer;
} */
/* .buttons:visited{
	/* font-weight: bold; */
	/* background-color: red;
	color: red;
} */ 
.buttons:hover{
	background-color: #87CEEB;
	cursor: pointer;

}
.buttons:active {
	font-weight: bold;
	background-color: rgb(139, 44, 0);
}